/*Stylesheet

version:   1.0
date:      07/01/15
author:    Stephen John Ellis
email:     stephenjohnellis@gmail.com
website:   stephenjohnellis.org
*/

/*
Colors:
Gray - #C9C9C9
lightGray - #e3e3e3
lightBlue - #9AD3DE
Blue - #89BDD3
Orange - #E9862F
*/

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-family: 'PT Sans', sans-serif;
}

{
    margin: 0;
    padding: 0;
    border: 0;
}

.clear {
    clear:both;
}

.right {
    float: right;
}

.left {
    float: left;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'PT Sans', sans-serif;
    background-color: #F2EDD7;
    text-align:center;
    padding-top: 60px;
    padding-bottom: 80px;
}

h1
    {
    font-size: 2.2em;
}

h2
    {
    font-size: 2.0em;
}

h3
    {
    font-size: 1.8em;
}

h4
    {
    font-size: 1.6em;
}

h5
    {
    font-size: 1.4em;
}

#logo {
  height: 33px;
  margin-top: -0.4em;
}

#map-canvas {
       width: 100%;
       height: 400px;
       background-color: #CCC;
}

.top-buffer {
  margin-top: 20px;
}

.bot-buffer {
  padding-bottom: 20px;
}

.pac-container {
    background-color: #FFF;
    z-index: 1050;
    position: fixed;
    display: inline-block;
    float: left;
}

#waypoint-list{
  margin: 10px 5px 10px 25px;
  padding: 0;
  list-style-type: none;
}

.waypointStyle {
  margin-bottom: 15px;
  margin-left: 22px;
  text-align: left;
}

.waypointName {
  margin-left: 45px;
  padding-top: 6px;
}

.superDone {
  color: #bbb;
  text-decoration: line-through;
}

.notesbox {
  margin-top: 20px;
  display: inline;
}

#notes-list{
  margin: 10px 5px 10px 25px;
  padding: 0;
  list-style-type: none;
}

#addBtn {
    border-radius: 4px 0px 0px 4px;
    background: none;
    border: 2px solid #0099cc;
    color: #0099cc;
}

#gpsBtn {
  border-radius: 0px 4px 4px 0px;
}

#setOrigin {
  border-radius: 4px 0px 0px 4px;
}

#delBtn {
  border: none;
}

#dirBtn {
  border-radius: 0px 4px 4px 0px;
}

#routeBtn{
  border-radius: 4px 0px 0px 4px;
}

.slctYlw {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  color: #fff;
  background-color: #e9862f;
  border-color: #e9862f;
  outline: none !important;
}

.deslctYlw {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 4px;
  border: 1px solid #e9862f;
  color: #e9862f;
  background-color: #fff;
  outline: none !important;
}

.slctBtn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  color: #fff;
  background-color: #0099cc;
  border-color: #0099cc;
  outline: none !important;
}

.deslctBlue {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 4px;
  border: 1px solid #0099cc;
  color: #0099cc;
  background-color: #fff;
  outline: none !important;
}

#destinations {
  margin-bottom: 50px;
}

.menu_button {
    min-width: 150px !important;
    max-width: 1800px !important;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}
