<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Route Runner</title>

    <script type="text/javascript" src="../js/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="../js/underscore.js"></script>
    <script type="text/javascript" src="../js/backbone.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script type='text/javascript' src='../app.js'></script>
    <script type='text/javascript' src='../js/waypointsInput.js'></script>

    <link href='http://fonts.googleapis.com/css?family=Montserrat|PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="https://cdn.rawgit.com/mochajs/mocha/2.2.5/mocha.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link href="../css/bootstrap.css" rel="stylesheet">
  </head>

  <body>
    <div class='navbar navbar-default navbar-fixed-top'>
      <div class="navbar-inner">
    	   <div class='container'>
    	    <div class='navbar-header'>
    		      <a href='/' class='navbar-brand'><img id="logo" src="../img/logo.png" alt="Logo"></a>
    		      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
    			    <span class='sr-only'>Toggle navigation</span>
    			    <span class='icon-bar'></span>
    			    <span class='icon-bar'></span>
    			    <span class='icon-bar'></span>
    		      </button>
    	      </div>
      		  <ul class='nav navbar-nav navbar-right collapse navbar-collapse'>
            <li><% if (username) { %>
            <a>You are logged in as <%= username %></a></li>
            <li><a href= '/logout'>Sign Out</a></li>
            <% } else { %>
            <li><a href='#login'data-toggle="modal" id=#signIn>Sign In</a><% } %></li>
      			<li><% if (!username) { %><a href='#register' data-toggle='modal'>Register</a><% } %></li>
      		</ul>
    	   </div>
       </div>
     </div>

     <!-- <div id="mocha"></div>

    <script src="https://cdn.rawgit.com/mochajs/mocha/2.2.5/mocha.js"></script>
    <script src=" http://chaijs.com/chai.js"></script>

    <script>mocha.setup('bdd')</script>
    <script src="unitTests.js"></script>
    <script>
      mocha.checkLeaks();
      mocha.globals(['jQuery']);
      mocha.run();
    </script> -->

      <div class="container">
         <div class="col-md-6 top-buffer">
           <div class="btn-group">
             <button href="#origin" data-toggle="modal" type="button" id="setOrigin" class="btn btn-warning menu_button">Set Origin</button>
             <button type="button" class="btn btn-default menu_button" id="gpsBtn">Use GPS Location</button>
           </div>
           <div id="originRow">
           </div>
          <div class="col-md-4" id="map-canvas"></div>
        </div>
        <div class="col-md-6">
          <div class="btn-group top-buffer">
            <button type="button" id="routeIt" class="btn btn-primary menu_button">Route It</button>
            <button type="button" id="dirList" class="btn btn-default menu_button"><a href="#directions" data-toggle="modal">Directions</a></button>
          </div>
          <div class="top-buffer" id="destinations">
            <div class="input-group" id="inputdiv"></div>
            <ol id="waypoint-list"></ol>
          </div>
        </div>
      </div>

      <div class='navbar navbar-default navbar-fixed-bottom'>
        <div class='container'>
          <p class='navbar-text pull-right'>Copyright &#169 2015 Route Runner</p>
        </div>
      </div>

      <div class="modal fade" id="origin" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body" id="origindiv">
              <h4>Set Origin</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="directions" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body" id="directionsPanel">
              <button class=" btn btn-default btn-sm pull-left" data-dismiss="modal">X</button>
                <h4>Directions: <span id="total"></span></h4>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="login" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body" id="logindiv">
              <button class=" btn btn-default btn-sm pull-left" data-dismiss="modal">X</button>
              <h4>Login</h4>
              <form method= "post" action="/login" class="form-horizontal">
                <div class="form-group">
                  <label for="inputUser" class="control-label col-xs-4">Username:</label>
                  <div class="col-xs-6">
                    <input class="form-control" type="text" name="username" placeholder="Enter Your User Name" id="inputUser">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPass" class="control-label col-xs-4">Password:</label>
                  <div class="col-xs-6">
                    <input class="form-control" type="password" name= "password" placeholder="Enter Your Password" id="inputPass">
                </div>
                </div>
                <div class="center-block">
                  <input class="btn btn-default btn-primary center-block" type= "submit" value= "Login">
                </div>
              </form>
              </div>
            </div>
          </div>
        </div>

      <div class="modal fade" id="register" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body" id="registerdiv">
              <button class=" btn btn-default btn-sm pull-left" data-dismiss="modal">X</button>
              <h4>Register</h4>
              <form method= "post" action="/register" class="form-horizontal">
                <div class="form-group">
                  <label for="inputUser" class="control-label col-xs-4">Username:</label>
                  <div class="col-xs-6">
                    <input class="form-control" type="text" name="username" placeholder="Enter Your User Name" id="inputUser">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail" class="control-label col-xs-4">Email:</label>
                  <div class="col-xs-6">
                    <input class="form-control" type="text" name="username" placeholder="Enter Your Email" id="inputEmail">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPass" class="control-label col-xs-4">Password:</label>
                  <div class="col-xs-6">
                    <input class="form-control" type="password" name="password" placeholder="Enter Your Password" id="inputPass">
                  </div>
                </div>
                <div class="form-group">
                  <label for="confirmPass" class="control-label col-xs-4">Confirm Password:</label>
                  <div class="col-xs-6">
                    <input class="form-control" type="password" name="password_confirm" placeholder="Confirm Password" id="confirmPass">
                  </div>
                </div>
                <div class="center-block">
                  <input class="btn btn-default btn-primary center-block" type= "submit" value= "Register">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

  <script src="js/bootstrap.min.js"></script>
  </body>
</html>
